body, html
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  height: 100%
  font-size: 14px
  color: #333
  user-select: none
  -webkit-tap-highlight-color: transparent

div
	box-sizing: border-box

input
  width: 100%
  outline: none
  padding: 10px 0
  box-sizing: border-box

img
  width: 100%
  height: 100%

::-webkit-scrollbar
  display: none